<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 
<head>
 
<title>About - AstroCamel.com</title>
 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="AstroCamel was brought to you to provide the
 internet users the opportunity to share information through the web. Browse 
 code snippets and artwork freely." />
<meta name="keywords" content="torrents, free, free torrents, torrent, music,
 pictures, movies, apps, applications, astrocamel, www.astrocamel.com, 
 astrocamel.com, astro, camel, astro camel, astro-camel, astrocamel radio,
  radio, online radio" />
<meta name="author" content="George Skouroupathis" />
<meta name="revisit-after" content="20 days" />
<meta name="ROBOTS" content="Index, ALL" />
<meta name="ROBOTS" content="Index, FOLLOW" />

<link rel="icon" type="image/x-icon" href="{{static_url('imgs/favico.ico')}}" />

<style type="text/css">
@import url("{{static_url('styles/style-main.css')}}");
</style>

</head>
 
<body>
	
	<div id="header-container">
		<div id="header-cntr">
		
			<a href="/"><div id="header">

			</div></a>
			
			<div id="menu">
				<a href="/">news</a
				><a href="/code">code</a
				><a href="/gallery">gallery</a
				>{% if userName != None %}(<a href="/logout">logout</a
				>){% else %}(<a href="/login">login</a>)
				{% end %}
			</div>
		
		</div>
	</div>
	
	<div id="main-container">
		<div id="main">
			
		<h4>About me</h4>

Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc eget urna et magna semper adipiscing. Quisque eget arcu et nisi accumsan aliquam. Suspendisse accumsan dui id neque feugiat nec porta leo vulputate. Phasellus eget nulla enim, ut elementum dui. Mauris dolor massa, accumsan a pellentesque ut, rhoncus sit amet lectus. Vivamus id urna justo, eu dapibus lorem. Nunc vel diam non elit elementum fermentum. Morbi imperdiet mi et nisi adipiscing vel tempus sapien imperdiet.
<br /><br />
Cras ac mauris enim, nec pharetra lacus. Duis sit amet velit in metus ultricies pretium. Nam sit amet ante nibh. Nulla et tortor quam, id iaculis orci. Ut rutrum, lorem ac scelerisque consectetur, erat risus tempor est, vitae volutpat sem libero a erat. Nam quis dolor sapien, sed eleifend sapien. Cras molestie ornare cursus. Nulla elementum elit rutrum metus tempus a tristique tellus hendrerit. Nullam ligula est, tincidunt a tincidunt ut, convallis non diam.
<br /><br />
Nam auctor facilisis risus, eget tincidunt ligula egestas et. Nam rutrum suscipit aliquet. Phasellus tincidunt, enim non laoreet sodales, nisl risus congue dolor, vel interdum nibh ante a diam. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse leo erat, porta sed molestie sed, rutrum at turpis. Proin et lacus a enim tempus tincidunt. Proin tincidunt volutpat felis, eget malesuada nisi congue eu. Aliquam ac massa mauris, a sollicitudin odio. Sed auctor sapien turpis. Nulla ultrices dui sit amet eros tempus rutrum. Nulla porttitor quam in ipsum pulvinar dignissim at sit amet nunc. Aenean dictum imperdiet auctor. Sed rutrum, erat eu commodo commodo, nibh ligula molestie libero, molestie lacinia mauris lectus in enim. Duis porttitor mi a tellus venenatis molestie. Nam laoreet tristique turpis id pellentesque. Etiam porttitor, risus sit amet posuere ornare, velit lacus ultricies nibh, vel vestibulum nisl libero a massa. 
<br /><br />		
		</div>
	</div>
	
	<div id="footer">
	
		<ul class="footer-list">
		<li><a href="/">home</a></li>
		<li><a href="/code">code</a></li>
		<li><a href="/gallery">gallery</a></li>
		</ul>
		
		<ul class="footer-list">
		<li><a href="/about">about</a></li>
		<li><a href="/contact">contact</a></li>
		<li><a href="/admin">admin</a></li>
		</ul>
		
		<ul class="footer-list">
		<li><a href="/controlpanel">control panel</a></li>
		<li><a href="/register">register</a></li>
		{% if userName != None %}<li><a href="/logout">logout</a></li>
		{% else %}<li><a href="/login">login</a></li>{% end %}
		</ul>
		
	<div class="fix"></div>
	<span id="copy">Copyright &#169; Since 2008 - AstroCamel.com</span>
	</div>
	
	<div id="footer-shadow">
	</div>

</body>
</html>








