<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 
<head>
 
<title>Admin - AstroCamel.com</title>
 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="AstroCamel was brought to you to provide the
 internet users the opportunity to share information through the web. Browse 
 code snippets and artwork freely." />
<meta name="keywords" content="torrents, free, free torrents, torrent, music,
 pictures, movies, apps, applications, astrocamel, www.astrocamel.com, 
 astrocamel.com, astro, camel, astro camel, astro-camel, astrocamel radio,
  radio, online radio" />
<meta name="author" content="George Skouroupathis" />
<meta name="revisit-after" content="20 days" />
<meta name="ROBOTS" content="Index, ALL" />
<meta name="ROBOTS" content="Index, FOLLOW" />

<link rel="icon" type="image/x-icon" href="{{static_url('imgs/favico.ico')}}" />

<style type="text/css">
@import url("{{static_url('styles/style-main.css')}}");
@import url("{{static_url('styles/style-admin.css')}}");
@import url("{{static_url('styles/style-cp.css')}}");
</style>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript">
/*sections*/
$(document).ready(function(){
$(".presection").mouseenter(function(){
    $(this).css("cursor", "crosshair");
  });
$(".presection").click(function(){
    $(this).next(".admin-section").slideToggle(400);
  });
});
</script>
</head>
 
<body>
	
	<div id="header-container">
		<div id="header-cntr">
		
			<a href="/"><div id="header">

			</div></a>
			
			<div id="menu">
				<a href="/">news</a
				><a href="/code">code</a
				><a href="/gallery">gallery</a
				>{% if userName != None %}(<a href="/logout">logout</a
				>){% else %}(<a href="/login">login</a>)
				{% end %}
			</div>
		
		</div>
	</div>
	
	<div id="main-container">
		<div id="main">
		
			<h4>Welcome admin {{userName}}</h4>
			
			{% if errMsg != None %}
			<h4 class="errMsg">{{errMsg}}</h4>
			{% end %}
			
			<!-- VIEW MESSAGES -->
			<div class="presection">
			View Messages
			</div>
			<div class="admin-section">
				{% for msg in msgs %}
				id:{{msg[0]}} name:{{msg[1]}} message: {{msg[2]}} date: {{msg[3]}} ip: {{msg[4]}}
				<hr />
				{% end %}
			</div>
			
			<!-- POST NEWS -->
			<div class="presection">
			Post News
			</div>
			<div class="admin-section">
				<form id="newsForm" action="/postnews" method="post" enctype="multipart/form-data">
				{% raw xsrf_form_html() %}
				
				<table class="form-tbl">
				<tr>
  				<td class="td-label"><label for="title">Title</label></td>
  				<td class="td-input"><input type="text" name="title" id="title" class="input-txt" /></td>
  				</tr>
  				<tr>
  				<td class="td-label"><label for="title">News</label></td>
  				<td class="td-input"><input type="file" name="newsFile" /></td>
  				</tr>
  				<tr>
  				<td class="td-label"><label for="title">Image</label></td>
  				<td class="td-input"><input type="file" name="newsimg" /></td>
  				</tr>
				<tr>
				<td colspan="2" class="td-button"><input type="submit" class="button" value="Post News" /></td>
				</tr>
				</table>
				
				</form>

			</div>
			
			<!-- UPLOAD CODE -->
			<div class="presection">
			Upload Code
			</div>
			<div class="admin-section">
				<form id="uploadCodeForm" action="/uploadcode" method="post" enctype="multipart/form-data">
				{% raw xsrf_form_html() %}

				<table class="form-tbl">
				<tr>
  				<td class="td-label"><label for="title">Title</label></td>
  				<td class="td-input"><input type="text" name="title" id="title" class="input-txt" /></td>
  				</tr>
  				<tr>
  				<td class="td-label"><label for="codeType">Code Type</label></td>
  				<td class="td-input"><input type="text" name="codeType" id="codeType" class="input-txt" /></td>
  				</tr>
  				<tr>
  				<td class="td-label"><label for="title">Description</label></td>
  				<td class="td-input"><textarea name="description" id="description" class="message-txt"></textarea></td>
  				</tr>
  				<tr>
  				<td class="td-label"><label for="codeFile">Code</label></td>
  				<td class="td-input"><input type="file" name="codeFile" /></td>
  				</tr>
				<tr>
				<td colspan="2" class="td-button"><input type="submit" class="button" value="Upload Code" /></td>
				</tr>
				</table>
				
				</form>

			</div>
			
			<!-- UPLOAD GFX -->
			<div class="presection">
			Upload GFX
			</div>
			<div class="admin-section">
				<form id="uploadGfxForm" action="/uploadgfx" method="post" enctype="multipart/form-data">
				{% raw xsrf_form_html() %}
				
				<table class="form-tbl">
				<tr>
  				<td class="td-label"><label for="description">Description</label></td>
  				<td class="td-input"><textarea name="description" class="message-txt"></textarea></td>
  				</tr>
  				<tr>
  				<td class="td-label"><label for="gfxFile">GFX</label></td>
  				<td class="td-input"><input type="file" name="gfxFile" /></td>
  				</tr>
				<tr>
				<td colspan="2" class="td-button"><input type="submit" class="button" value="Upload GFX" /></td>
				</tr>
				</table>
				
				</form>

			</div>
			
			<!-- BAN USER -->
			<div class="presection">
			Ban User
			</div>
			<div class="admin-section">
				<form id="banForm" action="/ban" method="post">
				{% raw xsrf_form_html() %}
				
				<table class="form-tbl">
				<tr>
  				<td class="td-label"><label for="bannedUser">Username</label></td>
  				<td class="td-input"><select id="bannedUser" name="bannedUser">
					<option value="default" selected="selected">Select a user</option>
					{% for user in userList %}
					<option value="{{user[2]}}">{{user[2]}}</option>
					{% end %}
				</select></td>
  				</tr>
				<tr>
				<td colspan="2" class="td-button"><input type="submit" class="button" value="Ban User" /></td>
				</tr>
				</table>
				
				</form>
			</div>	
			
			<!-- UNBAN USER -->
			<div class="presection">
			Unban User
			</div>
			<div class="admin-section">
				<form id="unbanForm" action="/unban" method="post">
				{% raw xsrf_form_html() %}
				
				<table class="form-tbl">
				<tr>
  				<td class="td-label"><label for="unbannedUser">Username</label></td>
  				<td class="td-input"><select id="unbannedUser" name="unbannedUser">
					<option value="default" selected="selected">Select a user</option>
					{% for user in userList %}
					<option value="{{user[2]}}">{{user[2]}}</option>
					{% end %}
				</select></td>
  				</tr>
				<tr>
				<td colspan="2" class="td-button"><input type="submit" class="button" value="Unban User" /></td>
				</tr>
				</table>
				
				</form>
			</div>
					
		</div>
	</div>
	
	<div id="footer">
	
		<ul class="footer-list">
		<li><a href="/">home</a></li>
		<li><a href="/code">code</a></li>
		<li><a href="/gallery">gallery</a></li>
		</ul>
		
		<ul class="footer-list">
		<li><a href="/about">about</a></li>
		<li><a href="/contact">contact</a></li>
		<li><a href="/admin">admin</a></li>
		</ul>
		
		<ul class="footer-list">
		<li><a href="/controlpanel">control panel</a></li>
		<li><a href="/register">register</a></li>
		{% if userName != None %}<li><a href="/logout">logout</a></li>
		{% else %}<li><a href="/login">login</a></li>{% end %}
		</ul>
		
	<div class="fix"></div>
	<br />
	Copyright &#169; Since 2008 - AstroCamel.com
	</div>
	
	<div id="footer-shadow">
	</div>	

</body>
</html>








