<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 
<head>
 
<title>View Code - AstroCamel.com</title>
 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="AstroCamel was brought to you to provide the
 internet users the opportunity to share information through the web. Browse 
 code snippets and artwork freely." />
<meta name="keywords" content="torrents, free, free torrents, torrent, music,
 pictures, movies, apps, applications, astrocamel, www.astrocamel.com, 
 astrocamel.com, astro, camel, astro camel, astro-camel, astrocamel radio,
  radio, online radio" />
<meta name="author" content="George Skouroupathis" />
<meta name="revisit-after" content="20 days" />
<meta name="ROBOTS" content="Index, ALL" />
<meta name="ROBOTS" content="Index, FOLLOW" />

<link rel="icon" type="image/x-icon" href="{{static_url('imgs/favico.ico')}}" />

<style type="text/css">
@import url("{{static_url('styles/style-main.css')}}");
@import url("{{static_url('styles/style-showcode.css')}}");
</style>

</head>
 
<body>
	
	<div id="header-container">
		<div id="header-cntr">
		
			<a href="/"><div id="header">

			</div></a>
			
			<div id="menu">
				<a href="/">news</a
				><a href="/code">code</a
				><a href="/gallery">gallery</a
				>{% if userName != None %}(<a href="/logout">logout</a
				>){% else %}(<a href="/login">login</a>)
				{% end %}
			</div>
		
		</div>
	</div>
	
	<div id="main-container">
		<div id="main">
		
			{% if code != None %}
				{{code[2]}} - {{code[3]}}
				<hr />
			
				<div class="showcode-container">
<pre>
{{codeContent}}
</pre>
				</div>
				<div class="comments-container">
				{% if commentNum[0] == 0 %}
					&nbsp;No comments for this code
					<br />
				{% end %}
				
				{% if sessionUserID == -1 %}
					&nbsp;You must <a href="/login" class="txt-lnk">login</a> in order to comment
					<br />
				{% elif code %}
					<form action="/postcomment/{{contentID}}" method="post">
					{% raw xsrf_form_html() %}
					<textarea name="comment" class="comment-txt"></textarea>
				
					<input type="submit" class="button" value="Leave comment" />
					</form>
				{% end %}
				
				{% if commentNum[0] != 0 %}
					{% for comment in comments %}
						<div class="comment">
						<u>{{comment[3]}} said:</u>
						<br />
						{{comment[4]}}
						<br />
						<font size="3" color="#8B7765"><i>{{comment[5]}}</i></font>
						{% if sessionUserID == comment[2] or isAdmin %}
							<a href="/deletecomment/{{comment[0]}}"><input type="button" class="button" value="X" /></a>
						{% end %}
						</div>
					{% end %}
				{% end %}
			</div>	
			{% else %}
				<h4 class="errMsg">No such code</h4>
			{% end %}
			
			
		</div>
	</div>
	
	<div id="footer">
	
		<ul class="footer-list">
		<li><a href="/">home</a></li>
		<li><a href="/code">code</a></li>
		<li><a href="/gallery">gallery</a></li>
		</ul>
		
		<ul class="footer-list">
		<li><a href="/about">about</a></li>
		<li><a href="/contact">contact</a></li>
		<li><a href="/admin">admin</a></li>
		</ul>
		
		<ul class="footer-list">
		<li><a href="/controlpanel">control panel</a></li>
		<li><a href="/register">register</a></li>
		{% if userName != None %}<li><a href="/logout">logout</a></li>
		{% else %}<li><a href="/login">login</a></li>{% end %}
		</ul>
		
	<div class="fix"></div>
	<br />
	Copyright &#169; Since 2008 - AstroCamel.com
	</div>
	
	<div id="footer-shadow">
	</div>

</body>
</html>








